appdirs==1.4.4
black==21.7b0
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
feedparser==5.2.1
flake8==3.9.2
idna==3.2
mccabe==0.6.1
mypy-extensions==0.4.3
pathspec==0.9.0
podcastparser==0.6.7
pycodestyle==2.7.0
pyflakes==2.3.1
regex==2021.8.3
requests==2.26.0
tomli==1.2.1
urllib3==1.26.6
